<div class="sidebar" [class.sidebar-visible]="visible" [class.sidebar-mobile]="isMobile">
  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <div class="sidebar-logo">
      <i class="pi pi-dumbbell logo-icon"></i>
      <span class="logo-text">MauricioGym</span>
    </div>
    
    <!-- Close button for mobile -->
    <button 
      *ngIf="isMobile" 
      type="button" 
      class="sidebar-close"
      pButton 
      icon="pi pi-times"
      [text]="true"
      (click)="sidebarHide.emit()"
      aria-label="Fechar menu">
    </button>
  </div>

  <!-- Navigation Menu -->
  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li 
        *ngFor="let item of menuItems" 
        class="nav-item"
        [class.nav-item-hidden]="!hasPermission(item)">
        
        <!-- Menu item with children -->
        <div 
          *ngIf="item.children && hasPermission(item); else singleItem"
          class="nav-link nav-parent"
          [class.nav-link-active]="isParentActive(item)"
          [class.nav-link-expanded]="item.expanded"
          (click)="onMenuItemClick(item)"
          [attr.aria-expanded]="item.expanded"
          role="button"
          tabindex="0"
          (keydown.enter)="onMenuItemClick(item)"
          (keydown.space)="onMenuItemClick(item)">
          
          <div class="nav-link-content">
            <i [class]="item.icon" class="nav-icon"></i>
            <span class="nav-text">{{ item.label }}</span>
            <span *ngIf="item.badge" [class]="'nav-badge ' + (item.badgeClass || '')">{{ item.badge }}</span>
          </div>
          
          <i class="pi pi-chevron-down nav-chevron" 
             [class.nav-chevron-expanded]="item.expanded"></i>
        </div>

        <!-- Single menu item -->
        <ng-template #singleItem>
          <a 
            *ngIf="item.route"
            class="nav-link"
            [class.nav-link-active]="isRouteActive(item.route!)"
            (click)="onMenuItemClick(item)"
            role="button"
            tabindex="0"
            (keydown.enter)="onMenuItemClick(item)"
            (keydown.space)="onMenuItemClick(item)">
            
            <div class="nav-link-content">
              <i [class]="item.icon" class="nav-icon"></i>
              <span class="nav-text">{{ item.label }}</span>
              <span *ngIf="item.badge" [class]="'nav-badge ' + (item.badgeClass || '')">{{ item.badge }}</span>
            </div>
          </a>
        </ng-template>

        <!-- Submenu -->
        <ul 
          *ngIf="item.children && item.expanded" 
          class="nav-submenu"
          [@slideDown]>
          <li 
            *ngFor="let child of item.children" 
            class="nav-subitem"
            [class.nav-subitem-hidden]="!hasPermission(child)">
            
            <a 
              *ngIf="child.route"
              class="nav-sublink"
              [class.nav-sublink-active]="isRouteActive(child.route)"
              (click)="navigateTo(child.route)"
              role="button"
              tabindex="0"
              (keydown.enter)="navigateTo(child.route)"
              (keydown.space)="navigateTo(child.route)">
              
              <i [class]="child.icon" class="nav-subicon"></i>
              <span class="nav-subtext">{{ child.label }}</span>
              <span *ngIf="child.badge" [class]="'nav-subbadge ' + (child.badgeClass || '')">{{ child.badge }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <!-- Sidebar Footer -->
  <div class="sidebar-footer">
    <div class="user-info" *ngIf="currentUser">
      <div class="user-avatar">
        <i class="pi pi-user"></i>
      </div>
      <div class="user-details">
        <div class="user-name">{{ currentUser.nomeCompleto }}</div>
        <div class="user-role">{{ currentUser.tipoUsuario }}</div>
      </div>
    </div>
    
    <div class="sidebar-version">
      <span class="version-text">v1.0.0</span>
    </div>
  </div>
</div>

<!-- Mobile overlay -->
<div 
  *ngIf="isMobile && visible" 
  class="sidebar-overlay"
  (click)="sidebarHide.emit()"
  aria-hidden="true">
</div>
